<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
     <div class="wrapper">
      <header>
        <h1 class="header">{{ site.title | default: site.github.repository_name }}</h1>
        <p class="header">{{ site.description | default: site.github.project_tagline }}</p>

        <ul>
          <li><a class="button" href="ilayda_celenk_resume.pdf">Resume</a></li>
          <ul class="nav">
	
	<li><a href="/Teaching.html">Teaching</a></li>
	<li><a href="/CoursesProjects.html">Courses & Projects</a></li>	
		  <li><a href="/MSThesis.html">Master's Thesis</a></li>
  <li><a href="https://ilaydacelenk.github.io/">Home</a></li>
</ul>
	
	
      
        </ul>
        {% if site.github.is_user_page %}
        	</ul>
	      
	      
        {% endif %}
      </header>

      <section>


	      
       {{ content }}
                
      </section>

      <footer>
      </footer>
     </div>

    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
  </body>
</html>
